body{
    font-family: 'Open Sans', sans-serif;
margin:0;
padding:0;
background-color: #F8F5F2;
color: #4c4848;
height: 100%;
display: flex;
flex-direction: column;

}

.navbar{
    background-color: #0b0d1ade;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* space-between; */
      align-items: center;

}
.navbar .logo {
    color: #d4af37;
    font-size: 24px;
    font-weight: bold;

}

.navbar a {
    color: #d4af37;
    text-decoration: none;
    margin: 0 15px;

}

.hero {
    height: 80vh;
    text-align: center;
    padding: 80px 20px ;
    background-image: url(/1736573325078.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     color: #1a1f36;

}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;

}

.hero p{
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #102542;
    color:#ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

.cta-button:hover {
    background-color:#b8860b;

}


/* .banner-inner{
    padding-left: 150px;
} */
 .banner-inner h1{
    padding-left: 150px;
 }
 .banner-inner p{
    padding-left: 150px;
 }.banner-inner button{
    margin-left: 110px;
 }